<!doctype html>
<html ng-app="app">
  <head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/chart.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- Third-party libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="js/lib/seedrandom-min.js"></script>
		<script src="js/lib/sprintf.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<!-- My JS files -->
    <script src="js/app.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/parsing.js"></script>
    <script src="js/selection.js"></script>
    <script src="js/util.js"></script>
		<title>Ground Motion Selector</title>
  </head>
  <body ng-controller="MainCtrl">
    <div class="mainbody">
			<h2>Ground Motion Selector</h2>
			<p>This is a tool for selecting ground motions for use in seismic response analysis.</p>
			<div class="input panel">
				<p>
					<b>Select random realizations file (OpenSHA format): <input type="file" id="inputFileSelect" /></b>
				</p>
				<hr />
				<p>
					<table ng-show="!!input" width="100%">
						<tr>
							<td>
								<b>Conditioning IM:</b> {{ input.IMjName }} ({{ input.IML.toFixed(6) }})
								<br />
								<b>Prob Level:</b> {{ input.ProbLevel }}
							</td>
							<td>
								<b>Number of IMs considered:</b> {{ input.numIMi }}
								<br />
								<b>Number of simulated realizations:</b> {{ input.numIMiRealizations }}
							</td>
						</tr>
					</table>
				</p>
				<p ng-show="chartData.length > 0">
					Show chart for:
					<select ng-model="visibleChart"
									ng-options="chart.name as chart.name for chart in chartData">
					</select>
				</p>
				<div ng-repeat="chart in chartData" ng-show="chart.name == visibleChart">
					<chart id="'chart' + $index" data="chart" width="660px" height="400px"></chart>
				</div>
			</div>
			<div class="output panel">
				<p>
					<b>Choose database of actual ground motions:</b>
					<select ng-model="databaseName" ng-options="db.name as db.label for db in databases">
						<option value="">-- Choose database --</option>
					</select>
					<span ng-show="dbLoading">
						<img alt="Loading database..." src="images/ajax-loader.gif" style="vertical-align: top" />
					</span>
					<span ng-show="dbLoaded">
						<img alt="Database loaded." src="images/tick.png" style="vertical-align: top" />
					</span>
				</p>
				
				<div ng-show="!!input">
					<div>
						<b>Choose IM weightings:</b>
						<a href="#weightings" role="button" class="btn" data-toggle="modal">Weightings</a>
					</div>
					
					<!-- Modal -->
					<div id="weightings" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 id="modalLabel">Select IM weightings</h3>
						</div>
						<div class="modal-body">
							<div class="leftcol">
								<table>
									<tr ng-repeat="IMi in input.IMi | even">
										<td class="weightlabel">
											{{ IMi.name }}:
										</td>
										<td class="weightinput">
											<input class="mediumnumerical rightcol" type="number" min="0" step="any" ng-model="IMi.weighting" />
										</td>
									</tr>
								</table>
							</div>
							<div class="rightcol">
								<table>
									<tr ng-repeat="IMi in input.IMi | odd">
										<td class="weightlabel">
											{{ IMi.name }}:
										</td>
										<td class="weightinput">
											<input class="mediumnumerical rightcol" type="number" min="0" step="any" ng-model="IMi.weighting" />
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
					</div>
					
					<div>
						<b>Number of ground motions to select:</b>
						<input type="number" class="smallnumerical" ng-model="Ngms" />
					</div>
					
					<div>
						<b>Number of realization samples (replicates) to analyse:</b>
						<input type="number" class="smallnumerical" ng-model="Nreplicates" />
					</div>
					
					<div>
						<b>Repeatable (same result every time)?</b>
						<input type="checkbox" ng-model="repeatability" />
					</div>
					
					<div style="margin-top:20px">
						<input class="btn btn-primary" type="button" ng-disabled="!dbLoaded" ng-click="selectGMs()" value="Select Ground Motions" />
					</div>
				</div>
				
				<hr />
				
				<!-- Output charts -->
				<p ng-show="outputChartData.length > 0">
					Show chart for:
					<select ng-model="visibleOutputChart"
									ng-options="chart.name as chart.name for chart in outputChartData">
					</select>
				</p>
				<div ng-repeat="chart in outputChartData" ng-show="chart.name == visibleOutputChart">
					<chart id="'outputChart' + $index" data="chart" width="660px" height="400px"></chart>
				</div>
			</div>
			<h3 ng-show="!!selectionOutput">Output</h3>
			<span ng-show="!!selectionOutput">
				<pre>{{ selectionOutputString }}</pre>
			</span>
			
			<!-- Debug stuff goes down here -->
			<h3 ng-show="debug">Debug output</h3>
			<span ng-show="debug && dbLoaded">
				<p>First line of database:</p>
				<pre>{{ databaseFirstLine }}</pre>
			</span>
			<span ng-show="debug &&!!debugOutput">
				<p>Algorithm output:</p>
				<pre>{{ debugOutput }}</pre>
			</span>
      <!-- <pre>{{ inputJsonString }}</pre> -->
    </div>
  </body>
</html>
