.mainbody {
	width: 1400px;
	margin: auto;
}

div.panel {
	width:670px;
	height: 620px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

/* Left panel */
div.input {
	float:left;
}

/* Right panel */
div.output {
	float:right;
}

div.credits {
	text-align:center;
	margin-bottom: 100px;
}

select {
	margin-bottom:0;
}

input.smallnumerical {
	width: 50px;
	margin-bottom:0;
}

input.mediumnumerical {
	width: 70px;
	margin-bottom:0;
}

.leftcol {
	float:left;
}

.rightcol {
	float:right;
}

.weightlabel {
	padding-left: 40px;
	padding-right: 10px;
}

.weightinput {
	padding-left: 10px;
	padding-right: 40px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}